:root {
    --serif: 'Cormorant Garamond', Georgia, serif;
    --sans: 'Jost', sans-serif;
    --ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    /* Arrakis Spice */
    --arrakis-spice-base: #bb8346;
    --arrakis-spice-shade-200: #966938;
    --arrakis-spice-shade-400: #704f2a;
    --arrakis-spice-shade-600: #4b341c;
    --arrakis-spice-shade-800: #251a0e;
    --arrakis-spice-tint-200: #c99c6b;
    --arrakis-spice-tint-400: #d6b590;
    --arrakis-spice-tint-600: #e4cdb5;
    --arrakis-spice-tint-800: #f1e6da;

    --text-black: #1A140E;
    /* rgb(26, 20, 14) */
    --text-white: #F5F2ED;
    /* rgb(245, 242, 237) */
    --accent-both: #CCA274;
    /* rgb(204, 162, 116) */

}

[data-theme="dark"] {
    --background-image: url(/src/assets/dark-theme-bg.jpg);
    --background-color: #2A272D;

    --accent: #BB8346;
    /* rgb(187, 131, 70) */
    --footer-background: #1A140E;
    --footer-text-color: rgba(245, 242, 237, 0.5);
    --footer-link-color: #BB8346;

}

[data-theme="light"] {
    --background-image: url(/src/assets/light-theme-bg.jpg);
    --background-color: #D3D5D1;

    --accent: #AA6418;
    /* rgb(170, 100, 24) */
    --footer-background: #F5F2ED;
    --footer-text-color: rgba(26, 20, 14, 0.7);
    --footer-link-color: #AA6418;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;

    background: var(--background-color) var(--background-image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--text-primary);
    font-family: var(--sans);
    font-weight: 300;

    overflow-x: hidden;
}

body::after {
    content: '';
    position: block;
    height: 50px;
    /* set same height as the footer */
    /*inset: 0;
    background:
        radial-gradient(ellipse 60% 40% at 20% 10%, rgba(139, 98, 48, 0.05) 0%, transparent 60%),
        radial-gradient(ellipse 50% 60% at 80% 90%, rgba(180, 160, 120, 0.06) 0%, transparent 60%);
    pointer-events: none;*/
    z-index: 0;
}

/* ── FOOTER ── */
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: var(--footer-background);
    padding: 30px 0;
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content>p {
    color: var(--footer-text-color);
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}

.footer-content a {
    color: var(--footer-link-color);
    text-decoration: none;
}