<div class="divider">
    <svg
        class="icon"
        viewBox="0 0 24 24"
        aria-hidden="true"
        fill="currentColor"
    >
        <use href="#icon-star"></use>
    </svg>
    <svg
        class="icon"
        viewBox="0 0 24 24"
        aria-hidden="true"
        fill="currentColor"
    >
        <use href="#icon-snowflake"></use>
    </svg>
    <svg
        class="icon"
        viewBox="0 0 24 24"
        aria-hidden="true"
        fill="currentColor"
    >
        <use href="#icon-fish"></use>
    </svg>
    <svg
        class="icon"
        viewBox="0 0 24 24"
        aria-hidden="true"
        fill="currentColor"
    >
        <use href="#icon-crow"></use>
    </svg>
    <svg
        class="icon"
        viewBox="0 0 24 24"
        aria-hidden="true"
        fill="currentColor"
    >
        <use href="#icon-apple"></use>
    </svg>
</div>
