<footer>
    <div class="footer-content">
        <p>
            &copy; <span id="footer-year"></span>
            <a href="https://x.com/rikaLADSstudio" target="_blank"
                >Rika LADS Studio</a
            >
        </p>
    </div>
</footer>
