---
import SocialHandle from "./SocialHandle.astro";
import ThemeToggleBtn from "./ThemeToggleBtn.astro";
---

<header>
    <nav>
        <SocialHandle />
        <ThemeToggleBtn />
        <ul class="nav-links">
            <li><a href="#" class="active">Photo Album</a></li>
            <li><a href="#">Makeup Tutorials</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>
