---
import SocialHandle from "./SocialHandle.astro";
import ThemeToggleBtn from "./ThemeToggleBtn.astro";
const { activePage } = Astro.props;

const aboutTitle = "About";
const photoAlbumTitle = "Photo Album";
const makeupTutorialsTitle = "Makeup Tutorials";
---

<header>
    <nav>
        <SocialHandle />
        <ul class="nav-links">
            <li>
                <a
                    href="#"
                    class={activePage === photoAlbumTitle ? "active" : ""}
                    >PHOTO ALBUM</a
                >
            </li>
            <li>
                <a
                    href="#"
                    class={activePage === makeupTutorialsTitle ? "active" : ""}
                    >MAKEUP TUTORIALS</a
                >
            </li>
            <li>
                <a href="#" class={activePage === aboutTitle ? "active" : ""}
                    >ABOUT</a
                >
            </li>
            <ThemeToggleBtn />
        </ul>
    </nav>
</header>
