<style>
    .nav-x {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .nav-x > .icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .nav-x > .nav-handle {
        font-size: 14px;
    }
</style>
<a href="https://x.com/rikaLADSstudio" target="_blank" class="nav-x">
    <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
        <use href="#icon-x"></use>
    </svg>
    <span class="nav-handle">@rikaLADSstudio</span>
</a>
